h1,
h2,
h3,
h4,
p {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  color: white;
  text-decoration: underline;
}

.Banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

#info {
  font-size: 23px;
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Footer p {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
